/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;

}


body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff3e6;
}


.encabezado {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
    margin: 10px;
}

    .encabezado #empresa {
        margin: 20px;
        font-size: 1.5em
    }

#logo {
    width: 10em;
    height: 10em;
}

#empresa {
    font-size: 1em;
    color: #00365e;
    justify-content: center;
    align-items: center;
}


/***************navBar****************/
.navbar {
    display: flex;
    background-color: #00365e;
}

.container-nav {
    display: contents;
}



.nav-link {
    color: white;
}

#nav-title {
    color: white;
    font-size: 2em;
    padding: .2em;
    margin: .2em;
}

.navbar ul {
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-nav li {
    font-size: larger;
    letter-spacing: 2.5px;
}


.collapse ul li {
    float: right;
}

.collapse {
    display: flex;
    flex-direction: column !important;
    align-items: start;
}

.bi {
    color: white;
}

/*Fixed footer*/



footer {
    
    color: white;
    margin-top: auto;
    height: 5em;
}